body {
    background-color:rgb(86, 93, 136);
    font-family:serif;
    color:rgb(35, 235, 112)
}
ul {
    text-indent: 5px 5px;
    font-family: sans-serif;
    font-weight:bold;
    color:rgb(27, 91, 150);
}
.list {
    font-size:12px;
    color:darkviolet;
}
header, footer {
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    background-color:mediumblue;
    padding:25px;
}
footer {
    width:100%;
}
header a {
    text-align:right;
}
nav {
    text-align:right;
    margin-right:0;
}
nav a {
    margin-top:40px;
    font-size:50px;
    border-radius:15px;
    background-color:rgb(226, 28, 183);
    
}
main {
    display: inline-block;
    margin: 20px;
    font-size:30px;
}
section p {
    margin:10px;
}
h2 {
    text-decoration: underline;
}
#hours{
    text-align: center;
    float: left;
    width: 35%;
}
#about {
    width:60%;
    float:right;
}
section {
    background-color:mediumslateblue
}
h1 {
    text-shadow:rgb(117, 27, 5) 2px 2px;
    object-position: center;
    align-self:center;
}
img {
    width:30%;
    heigth:100px;
    position: relative;
}
a {
    color:rgb(41, 3, 3);
    font-family: 'East Sea Dokdo', cursive;
}
ul li {
    font-family:Arial,Verdana,Helvetica;
}